$phone:480px;
$max : 1800px;
.aboutus{
    // background-color: #15023a;
    background-color: #3da3d5;
    scroll-behavior: smooth;
    scroll-snap-type: both mandatory;
    scroll-snap-align: center;
    color: rgb(53, 53, 53);
    h1 {
        position: relative;
        padding: 5px 0 0 0;
        margin: 0;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 30px;
        overflow: hidden;
        color: #080808;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        @media only screen and (max-width: $phone) {
            font-size: 20px;
        }
      }
      
      h1 span {
        display: block;
        font-size: 0.5em;
        line-height: 1.3;
      }
      h1 em {
        font-style: normal;
        font-weight: 600;
      }
      
      /* === HEADING STYLE #1 === */
      .one h1 {
        text-align: center;
        text-transform: uppercase;
        // padding-bottom: 2px;
      }
      .one h1:before {
        width: 28px;
        height: 5px;
        display: block;
        content: "";
        position: absolute;
        bottom: 3px;
        left: 50%;
        margin-left: -14px;
        background-color: crimson;
      }
      .one h1:after {
        width: 100px;
        height: 1px;
        display: block;
        content: "";
        position: relative;
        margin-top: 25px;
        left: 50%;
        margin-left: -50px;
        background-color: crimson;
      }
      


    .vertical-timeline{
        .vertical-timeline-element{
            span{
                margin-top: 10px;
                // margin-left: 10px;
            }
            .vertical-timeline-element-content{
                border-radius: 3px;
                @media only screen and (max-width: $max) {
                    .vertical-timeline-element-date{
                        position: initial !important;
                        display: block !important;
                        float: none !important;
                        color: rgb(44, 44, 44);
                        margin-top: 1.5em;
                    }
                }
            }
        }
    }

}