$tabscreen:770px;
@import '../../global.scss';
.intro{
    background-color: white;
    display: flex;
    @include tablet{
        flex-direction:column;
        align-items: center;
    }
    @include mobile{
        flex-direction:column;
        align-items: center;
    }
    .left{
        flex: 0.5;
        overflow: hidden;

        .imgContainer{
            width: 700px;
            height: 700px;
            background-color: crimson;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;
            @include mobile{
                align-items: flex-start;
            }
            img{
                height: 90%;
                @include mobile{
                    height: 60%;
                    margin-top: 50px;
                }
            }
        }
    }
    .right{
        flex: 0.5;
        position: relative;
        .wrapper{
            width: 100%;
            // height: 100%;
            margin-top: 150px;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                font-size: 60px;
                margin: 10px 0;
            }
            h2{
                font-size: 35px;
            }
            h3{
                font-size: 30px;

                span{
                    font-size: inherit;
                    color: crimson;
                }
                .ityped-cursor{
                    animation: blink 1s infinite;
                }
                @keyframes blink {
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
            }
            @media only screen and (max-width: $tabscreen) {
                h1{
                    font-size: 40px;
                }
                h2,h3{
                    font-size: 30px;
                }
                margin-top: 30px;
                align-items: normal;
            }
            @include mobile{
                padding-left: 0;
                align-items: center;
                h1{
                    font-size: 25;
                }
                h2,h3{
                    font-size: 20px;
                }
            }
        }
        a{
            position: absolute;
            bottom: 10px;
            left: 40%;
            @include mobile{
                left: 45%;
            }
            img{
                width: 30px;
                animation: arrowBlink 2s infinite;
            }
            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
    }
}