$mainColor:#15023a;

$width:500px;
$tabwidth:780px;
@mixin mobile {
    @media (max-width: #{$width}) {
        @content
    }    
}
@mixin tablet {
    @media (max-width: #{$tabwidth}) {
        @content
    }
}