.container-slider {
    max-width: 1000px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* margin-left: 24%; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 2px solid #15023a;
  }

  @media only screen and (max-width: 780px) {
    .container-slider{
        width: 720px;
        height: 400px;
    }
  }

  @media only screen and (max-width: 450px) {
    .container-slider{
        width: 400px;
        height: 300px;
    }
  }
  @media only screen and (max-width: 375px) {
    .container-slider{
        width: 350px;
        height: 250px;
    }
  }
  @media only screen and (max-width: 330px) {
    .container-slider{
        width: 300px;
        height: 200px;
    }
  }

  .slide {
    width: 100%;
    height: 100%;
    position:absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .container-slider:hover > div{
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: darken;
    cursor:pointer;
  }
  .container-slider:hover div > p {
    display: block;
  }
  .container-slider:hover div > h2{
    display: block;
  }
  .container-slider:hover div > ul li{
    display: block;
  }
  .container-slider:hover div > div{
    display: block;
  }
  .slide h2{
      color: white;
      font-weight: 400;
      text-align: center;
      display: none;
  }
  .slide p{
        color: white;
        text-align: center;
        padding: 0 15px;
        font-weight: 400;
        display: none;
  }
  .slide ul li{
    padding: 10px;
    border: 2px solid #00FF7F;
    margin: 10px 10px 0 0;
    border-radius: 3px;
    display: none;
  }
  .slide div{
    padding-left: 10px;
    display: none;
  }
  @media only screen and (max-width: 430px) {
    .slide{
      justify-content: center;
      background-size: contain;
    }
    .slide h2{
      font-size: 15px;
      font-weight: 300;
    }
    .slide p{
      font-size: 10px;
      font-weight: 200;
      letter-spacing: 1px;
    }
    .slide ul{
      width: 60%;
    }
    .slide ul li{
      font-size: 10px;
      padding: 5px;
    }
    .slide div{
      margin: 0;
      padding: 0;
    }
    .slide div button{
      margin-bottom: 30px;
    }
    
  }
  @media only screen and (max-width: 380px) {
    .slide ul{
      width: 68%;
    }
  }
  @media only screen and (max-width: 330px) {
    .slide p{
      font-size: 8px;
      overflow: hidden;
      letter-spacing: normal;
      font-weight: 100;
    }
    .slide ul{
      width: 70%;
    }
  }

  .active-anim {
    opacity: 1;
  }
  
  .btn-slide {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    border: 1px solid rgba(34, 34, 34, 0.287);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
  }
  
  .btn-slide img {
    width: 25px;
    height: 25px;
    pointer-events: none;
  }  
  @media only screen and (max-width: 430px) {
    .btn-slide{
        width: 30px;
        height: 30px;
    }
  }
  .prev {
    top: 50%;
    left: 20px;
    transform: translateY(-60%);
  }
  .next {
    top: 50%;
    right: 20px;
    transform: translateY(-60%);
  }
  
  
  .container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
  }
  @media only screen and (max-width: 780px) {
    .dot{
      width: 7px;
      height: 7px;
    }
  }
  @media only screen and (max-width: 430px) {
    .dot{
      width: 4px;
      height: 4px;
    }
  }
  .dot:hover{
    cursor: pointer;
  }
  .dot.active {
    background: rgb(32, 32, 32);
  }